@* aici imi doresc sa fie prima pagina care apare dupa ce alegi actiunea "creeaza avatar"
    - sa apara toate avatarele disponibile, impreuna cu un buton de selectare or something
    - dupa ce selectezi un avatar sa te duca la pagina de personalizare a avatarului *@

@{
    ViewData["Title"] = "Selectează un avatar";
}

<h2>Selectează un avatar</h2>

<div style="display: flex; gap: 2rem; justify-content: center;">
    @for (int i = 1; i <= 3; i++) //aici va trebui sa parcurgem din baza de date, nu  din images
    {
        <div style="text-align: center;">
            <a href="@Url.Action("Personalizare", "Avatar", new { id = i })">
                <img src="@Url.Content($"~/images/base{i}.png")" alt="Avatar @i" width="200" style="border-radius: 12px;" />
                <br />
                <button class="btn btn-primary mt-2">Selectează</button>
            </a>
        </div>
    }
</div>



